.container{
    padding:20px;
    display: flex;
    gap:20px;
    .card{
        width: 200px;
        border:1px solid blue;
        border-radius: 4px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap:20px;
        .name{
            font-size: 20px;
        }
        .desc{
            font-size: 14px;
        }
    }
}